@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(html5boiler.css);

body {
	margin: 0;
	-moz-user-select: none;
	-webkit-user-select: none;
	font-family: 'Droid Sans', sans-serif;
}

h1 {
	font-size: 12px;
	text-align: center;
}

#container {
	width: 400px;
	padding: 10px 100px;
	margin: 0 auto;
	color: gray;
	text-decoration: none;
	position: relative;
}

#canvasContainer {
	border: 1px solid #ccc;
	padding: 1px;
	height: 400px;
	float: left;
	margin-right: 5px;
}
#canvas {
	cursor: pointer;
	height: 400px;
	width: 400px;
}
#previews {
	width: 40px;
	position: absolute;
	right: 48px;
	display: none;
}
canvas {
	-webkit-tap-highlight-color: transparent;		
}

#previews .preview {
	padding: 1px;
	border: 1px solid #ccc;
	position: absolute;
	top: 0;
	left: 0;
}
#previews .zoom1 {
	width: 16px;
	top: 46px;
}
#previews .zoom2 {
	width: 32px;
}
#controls {
	padding-top: 10px;
	clear: both;
}
#settings {
	float: right;
}
#settings a {
	display: inline-block;
	background-color: white;
	border: 1px solid #ccc;
	padding: 3px 5px;
	color: gray;
	text-decoration: none;
	font-size: 11px;
}
#settings a:hover {
	background-color: gray;
	color: white;
}



#share {
	float: left;
}

@import url(html5helper.css);
